.card-wrapper {
    display: flex;
    flex-flow: row wrap;
}

@media all and (max-width: 500px) {
    .card-wrapper {
        flex-direction: column;
    }
}

%card {
    flex-grow: 1;
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2), 4px 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
    border-radius: 5px;
    margin: 5px;
    background-color: $color-accent;

    &:hover {
        background-color: lighten($color-accent, 5%);
        box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.2), 8px 12px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

.card {
    @extend %card;
}

.dark {
    @extend %card;
    background-color: $color-dark;

    &:hover {
        background-color: lighten($color-dark, 5%);
    }

    .icon-link:hover {
        color: $color-primary;

        i {
            color: $color-primary;
        }
    }
}

.primary {
    @extend %card;
    background-color: $color-primary;

    &:hover {
        background-color: lighten($color-primary, 5%);
    }
}

.card-container {
    padding: 1rem;

    h1,
    h2,
    h3,
    p,
    a,
    i {
        color: $color-light;
    }
}
