$color-light: #f2eff0;

$color-light-accent-dark: #666059;
$color-light-accent: #908a82;
$color-light-accent-light: #b9b3ac;

$color-primary-extra-dark: #731000;
$color-primary-dark: #9c2715;
$color-primary: #c2402c;
$color-primary-light: #da6552;
$color-primary-extra-light: #ff9989;

$color-dark-accent: #7f788c;

$color-dark: #282329;