$color-light: #f2eff0;

$color-primary: #c2402c;
$color-primary-light: #da6552;

$color-accent: #7f788c;
$color-accent-light: #9e9aa7;

$color-dark: #282329;
$color-dark-light: #4d444f;

// $color-light: #f3f3f1;

// $color-primary: #2bca9b;
// $color-primary-light: #4ed7ad;

// $color-accent: #875469;
// $color-accent-light: #a47689;

// $color-dark: #252a34;
// $color-dark-light: #434b5a;