$color-light: #f2eff0;

$color-primary: #c2402c;
$color-primary-semi-light: #ca503c;
$color-primary-light: #da6552;

$color-accent: #7f788c;
$color-accent-light: #8c8697;

$color-dark: #282329;
$color-dark-light: #39323b;