.collapsible {
	border: 1px solid $color-accent;
	border-radius: 5px;

	:first-child {
		border-radius: 5px 5px 0 0;
	}

	:last-child {
		border-radius: 0 0 5px 5px;
		border: none;
	}
}

.collapsible-item {
	transition: 0.3s;
	padding: 0.5rem;
	border-bottom: 1px solid lighten($color-accent, 25%);
	cursor: pointer;

	&:hover {
		background-color: darken($color-light, 5%);
	}

	p {
		display: none;
	}

	&.expanded {
		p {
			display: block;
		}
	}
}