.collapsible {
	border: 1px solid $color-accent;
	border-radius: 5px;
}

.collapsible-item {
	transition: 0.3s;
	padding: 0.5rem;
	cursor: pointer;

	&:hover {
		background-color: darken($color-light, 5%);
	}

	p {
		display: none;
	}

	&.expanded {
		p {
			display: block;
		}
	}
}