@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@font-face {
    font-family: "Ailerons";
    src: url("../fonts/ailerons-typeface-webfont.woff2") format("woff2"),
         url("../fonts/ailerons-typeface-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
