@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700&display=swap&subset=latin-ext");

@font-face {
    font-family: "Ailerons";
    src: url("../fonts/ailerons-typeface-webfont.woff2") format("woff2"),
        url("../fonts/ailerons-typeface-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DejaVu Sans";
    src: url("../fonts/DejaVuSans-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

.fas,
.fab {
    color: $color-light;
}
