.footer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	overflow: hidden;
	background-color: $color-dark;
	position: absolute;
	bottom: 0;
	width: 100%;
	box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2), 0 -6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer-item {
	display: block;
	color: $color-light;
	text-align: center;
	margin: 1rem 0.5rem 0.5rem;
	text-decoration: none;
	font-size: 16pt;

	&:last-child {
		margin: 0 0 1rem;
		font-size: 12pt;
	}

	i:hover {
		transition: 0.2s;
		color: $color-primary;
	}
}

.flex-break {
	flex-basis: 100%;
	height: 0;
}
