.split-wrapper {
    display: flex;
    justify-content: space-between;
}

.left-split {
    flex: 1 0 175px;
    padding: 1rem;

    &.accent {
        background-color: lighten($color-accent, 15%);
    }
}

.right-split {
    flex: 3;
    padding: 1rem 0 0 1rem;
}

.reset-flex {
    flex: 1;
}

.flex-3 {
    flex: 3;
}

@media all and (max-width: 600px) {
    .split-wrapper {
        flex-direction: column;
    }

    .left-split {
        order: 1;
    }

    .right-split {
        padding: 0 0 1rem;
    }

    .reset-flex,
    .flex-3 {
        order: 0;
    }
}
