.title-bar {
    position: relative;
    background-image: url("../img/background-salzburg.jpg");
    height: 50vh;
    background-size: cover;
    text-align: center;
    overflow: hidden;

    h1 {
        font-family: "Ailerons", Arial, sans-serif;
        font-size: 48pt;
        color: $color-light;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.2s;
    }
}

.title-bar-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $color-dark;
    opacity: 0.4;
}
