@import "colors";
@import "fonts";
@import "title-bar";
@import "navbar";
@import "card";
@import "collapsible";
@import "footer";

* {
    font-family: "Montserrat", Arial, sans-serif;
    color: $color-dark;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    position: relative;
}

.no-select {
    user-select: none;
}

.no-display {
    display: none;
}

h1 {
    font-size: 24pt;
}

h2 {
    font-size: 18pt;
}

h3 {
    font-size: 16pt;
}

p {
    font-size: 12pt;
    margin-bottom: 1em;

    &.no-spacing {
        margin-bottom: 0;
    }
}

::selection {
    background-color: lighten($color-accent, 20%);
}

.page-wrapper {
    position: relative;
    display: block;
    overflow: hidden;
    z-index: 1;
    min-height: 100vh;
}

.content-wrapper {
    padding: 1rem 1rem 6rem;
}

.icon-link {
    display: inline-block;
    transition: 0.2s;
    text-decoration: none;

    i {
        transition: 0.2s;
    }

    &:hover {
        color: $color-dark;
    }

    &:hover > i {
        color: $color-dark;
    }
}
