@import "colors";
@import "fonts";
@import "title-bar";
@import "navbar";
@import "card";
@import "resume";
@import "collapsible";
@import "split";
@import "footer";

* {
	font-family: "Montserrat", Arial, sans-serif;
	color: $color-dark;
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	position: relative;
}

h1 {
	font-size: 24pt;
}

h2 {
	font-size: 18pt;
}

h3 {
	font-size: 14pt;
}

p {
	font-size: 12pt;
	margin-bottom: 1em;

	&.no-spacing {
		margin-bottom: 0;
	}
}

a {
	transition: 0.2s;

	&:hover {
		color: $color-dark;
	}
}

ul {
	padding-left: 1rem;
}

label {
	display: inline-block;
}

progress {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	color: $color-dark;
	background-color: inherit;
	border: 1px $color-dark solid;
	height: 0.5rem;
	width: 100%;
	margin-bottom: 1rem;
}

progress::-webkit-progress-bar {
	background-color: inherit;
}

progress::-webkit-progress-value {
	background-color: $color-dark;
}

progress::-moz-progress-bar {
	color: $color-dark;
	background-color: $color-dark;
	border: 1px $color-dark solid;
}

hr {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border: 1px $color-accent solid;
}

::selection {
	background-color: lighten($color-accent, 20%);
}

.page-wrapper {
	position: relative;
	display: block;
	overflow: hidden;
	z-index: 1;
	min-height: 100vh;
}

.content-wrapper {
	padding: 1rem 1rem 6.5rem;
}

.icon-link {
	display: inline-block;
	transition: 0.2s;
	text-decoration: none;

	i {
		transition: 0.2s;
	}

	&:hover {
		color: $color-dark;
	}

	&:hover > i {
		color: $color-dark;
	}
}

.no-select {
	user-select: none;
}

.no-display {
	display: none;
}

.no-padding {
	padding: 0;
}

.right-align {
	text-align: right;
}

.float-right {
	float: right;
}

.italic {
	font-style: italic;
}

.image-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $color-dark;
    opacity: 0.4;
}