@import "global";
@import "title-bar";
@import "navbar";
@import "card";

* {
    font-family: "Montserrat", Arial, sans-serif;
    color: $color-dark;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.no-select {
    user-select: none;
}

h1 {
    font-size: 24pt;
}

h2 {
    font-size: 18pt;
}

h3 {
    font-size: 16pt;
}

p,
a {
    font-size: 12pt;
}

.content-wrapper {
    padding: 1rem;
}
